.PostDetailsContainer{
  width: 90%;
  margin: auto;
  margin-top: 80px;
}
.PostDetailsCard{
  display: grid;
  background-color: rgb(236, 235, 235);
  box-shadow: 0 0 3px grey;
  text-align: left;
  padding: 20px;
}
.PostDetailsTitle{
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}
@media screen and (min-width: 800px) {
  .PostDetailsContainer{
    width: 60%;
  }
  
}

